In [1]:
%reload_ext sql

In [2]:
%sql sqlite:///TMDB-a-4006.db

Connecting to 'sqlite:///TMDB-a-4006.db'

In [ ]:
Who won the Oscar for “Actor in a Leading Role” in 2015?

In [14]:
%%sql
SELECT *
FROM oscars;

Running query in 'sqlite:///TMDB-a-4006.db'

+------+----------------+--------+-------------------------+---------------------------------------------------+
| year |     award      | winner |           name          |                        film                       |
+------+----------------+--------+-------------------------+---------------------------------------------------+
| 1928 |     Actor      |  None  |   Richard Barthelmess   |                     The Noose                     |
| 1928 |     Actor      |  1.0   |      Emil Jannings      |                  The Last Command                 |
| 1928 |    Actress     |  None  |      Louise Dresser     |                  A Ship Comes In                  |
| 1928 |    Actress     |  1.0   |       Janet Gaynor      |                     7th Heaven                    |
| 1928 |    Actress     |  None  |      Gloria Swanson     |                   Sadie Thompson                  |
| 1928 | Art Direction  |  None  |      Rochus Gliese      |                      Sunrise                      |
| 1928 | Art Direction  |  1.0   | William Cameron Menzies |                 The Dove; Tempest                 |
| 1928 | Art Direction  |  None  |       Harry Oliver      |                     7th Heaven                    |
| 1928 | Cinematography |  None  |      George Barnes      | The Devil Dancer; The Magic Flame; Sadie Thompson |
| 1928 | Cinematography |  1.0   |      Charles Rosher     |                      Sunrise                      |
+------+----------------+--------+-------------------------+---------------------------------------------------+
Truncated to displaylimit of 10.

In [ ]:
Who won the Oscar for “Actor in a Leading Role” in 2015?

In [18]:
%%sql

SELECT *

FROM oscars
WHERE year =2015 AND winner = 1.0
AND award  LIKE '%leading%';

Running query in 'sqlite:///TMDB-a-4006.db'

+------+---------------------------+--------+-------------------+--------------+
| year |           award           | winner |        name       |     film     |
+------+---------------------------+--------+-------------------+--------------+
| 2015 |  Actor in a Leading Role  |  1.0   | Leonardo DiCaprio | The Revenant |
| 2015 | Actress in a Leading Role |  1.0   |    Brie Larson    |     Room     |
+------+---------------------------+--------+-------------------+--------------+

In [ ]:
What query will produce the ten newest movies in the database?

In [19]:
%%sql
SELECT * 
FROM movies 
WHERE release_date IS NOT NULL 
ORDER BY release_date DESC 
LIMIT 10;

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+-----------------------+----------------------------+-----------+---------------------------------------------------------------------------------------------------------------+-------------------+-----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+---------+----------------+--------------------------------------------------+--------------+------------+
| movie_id |         title         |        release_date        |   budget  |                                                    homepage                                                   | original_language |     original_title    |                                                                                                                                                                       overview                                                                                                                                                                       | popularity |   revenue   | runtime | release_status |                     tagline                      | vote_average | vote_count |
+----------+-----------------------+----------------------------+-----------+---------------------------------------------------------------------------------------------------------------+-------------------+-----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+---------+----------------+--------------------------------------------------+--------------+------------+
|  426469  |    Growing Up Smith   | 2017-02-03 00:00:00.000000 |     0     |               <a href=http://www.growingupsmithmovie.com>http://www.growingupsmithmovie.com</a>               |         en        |    Growing Up Smith   |                                  "In 1979, an Indian family moves to America with hopes of living the American Dream. While their 10-year-old boy Smith falls head-over-heels for the girl next door, his desire to become a ""good old boy"" propels him further away from his family's ideals than ever before."                                   |  0.71087   |     0.0     |  102.0  |    Released    |     ItÆs better to stand out than to fit in.     |     7.4      |     7      |
|  325373  | Two Lovers and a Bear | 2016-10-02 00:00:00.000000 |     0     |                                                      None                                                     |         en        | Two Lovers and a Bear |                                                                                 Set in a small town near the North Pole where roads lead to nowhere, the story follows Roman and Lucy, two burning souls who come together to make a leap for life and inner peace.                                                                                  |  3.139294  |     0.0     |   96.0  |    Released    |                       None                       |     6.8      |     27     |
|  374461  |       Mr. Church      | 2016-09-16 00:00:00.000000 |  8000000  |                                                      None                                                     |         en        |       Mr. Church      |                                                                            A unique friendship develops when a little girl and her dying mother inherit a cook - Mr. Church. What begins as an arrangement that should only last six months, instead spans fifteen years.                                                                            |  7.828459  |     0.0     |  104.0  |    Released    | He was the one person she could always count on. |     7.0      |    129     |
|  339408  | The Birth of a Nation | 2016-09-09 00:00:00.000000 |  8500000  | <a href=http://www.foxsearchlight.com/thebirthofanation/>http://www.foxsearchlight.com/thebirthofanation/</a> |         en        | The Birth of a Nation |                                                                                          Nat Turner, a former slave in America, leads a liberation movement in 1831 to free African-Americans in Virgina that results in a violent retaliation from whites.                                                                                          |  9.452808  |  15861566.0 |  120.0  |    Released    |          The Untold Story of Nat Turner          |     6.5      |    178     |
|  385736  |         Kicks         | 2016-09-09 00:00:00.000000 |     0     |               <a href=http://www.focusfeatures.com/kicks>http://www.focusfeatures.com/kicks</a>               |         en        |         Kicks         |                                                                             When his hard-earned kicks get snatched by a local hood, fifteen-year old Brandon and his two best friends go on an ill-advised mission across the Bay Area to retrieve the stolen sneakers.                                                                             |  3.467923  |     0.0     |   80.0  |    Released    |              They aren't just shoes              |     7.5      |     18     |
|  332285  |       Antibirth       | 2016-09-02 00:00:00.000000 |  35000000 |                                                      None                                                     |         en        |       Antibirth       |                              In a desolate community full of drug-addled Marines and rumors of kidnapping, a wild-eyed stoner named Lou wakes up after a crazy night of partying with symptoms of a strange illness and recurring visions. As she struggles to get a grip on reality, the stories of conspiracy spread.                              |  3.674294  |     0.0     |   94.0  |    Released    |                       None                       |     4.8      |     40     |
|  184341  |     Hands of Stone    | 2016-08-26 00:00:00.000000 |  20000000 |                                                      None                                                     |         en        |     Hands of Stone    |                                                                                                                          The legendary Roberto Duran and his equally legendary trainer Ray Arcel change each other's lives.                                                                                                                          |  7.444189  |     0.0     |  105.0  |    Released    |              No mßs. No surrender.               |     6.1      |    109     |
|  271969  |        Ben-Hur        | 2016-08-17 00:00:00.000000 | 100000000 |                      <a href=http://www.benhurmovie.com/>http://www.benhurmovie.com/</a>                      |         en        |        Ben-Hur        |                                                                                                                     A falsely accused nobleman survives years of slavery to take vengeance on his best friend who betrayed him.                                                                                                                      | 29.608322  |  94061311.0 |  125.0  |    Released    |          First to finish. Last to die.           |     5.3      |    621     |
|  294272  |     Pete's Dragon     | 2016-08-10 00:00:00.000000 |  65000000 |       <a href=http://movies.disney.com/petes-dragon-2016>http://movies.disney.com/petes-dragon-2016</a>       |         en        |     Pete's Dragon     | Pete is a mysterious 10-year-old with no family and no home who claims to live in the woods with a giant, green dragon named Elliott. With the help of Natalie, an 11-year-old girl whose father Jack owns the local lumber mill, forest ranger Grace sets out to determine where Pete came from, where he belongs, and the truth about this dragon. | 31.974359  | 143695338.0 |  102.0  |    Released    |        Some secrets are too big to keep.         |     6.2      |    679     |
|  297761  |     Suicide Squad     | 2016-08-02 00:00:00.000000 | 175000000 |                     <a href=http://www.suicidesquad.com/>http://www.suicidesquad.com/</a>                     |         en        |     Suicide Squad     |                                                       From DC Comics comes the Suicide Squad, an antihero team of incarcerated supervillains who act as deniable assets for the United States government, undertaking high-risk black ops missions in exchange for commuted prison sentences.                                                        |  90.23792  | 745000000.0 |  123.0  |    Released    |                Worst Heroes Ever                 |     5.9      |    7458    |
+----------+-----------------------+----------------------------+-----------+---------------------------------------------------------------------------------------------------------------+-------------------+-----------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+---------+----------------+--------------------------------------------------+--------------+------------+
Truncated to displaylimit of 10.

In [ ]:
What query will produce the ten oldest movies in the database?

In [24]:
%%sql
SELECT * 
FROM movies 
WHERE release_date IS NOT NULL 
ORDER BY release_date ASC 
LIMIT 10;

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+-----------------------+----------------------------+----------+----------+-------------------+------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+------------+---------+----------------+--------------------------------------------------------------------------------------------------+--------------+------------+
| movie_id |         title         |        release_date        |  budget  | homepage | original_language |     original_title     |                                                                                                                                                                                                                                                                                                                                                                                                                                                  overview                                                                                                                                                                                                                                                                                                                                                                                                                                                  | popularity |  revenue   | runtime | release_status |                                             tagline                                              | vote_average | vote_count |
+----------+-----------------------+----------------------------+----------+----------+-------------------+------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+------------+---------+----------------+--------------------------------------------------------------------------------------------------+--------------+------------+
|   3059   |      Intolerance      | 1916-09-04 00:00:00.000000 |  385907  |   None   |         en        |      Intolerance       |                                                                                                                                                                                                                                                                                                                                                                            The story of a poor young woman, separated by prejudice from her husband and baby, is interwoven with tales of intolerance from throughout history.                                                                                                                                                                                                                                                                                                                                                                             |  3.232447  | 8394751.0  |  197.0  |    Released    |                                  The Cruel Hand of Intolerance                                   |     7.4      |     60     |
|   3060   |     The Big Parade    | 1925-11-05 00:00:00.000000 |  245000  |   None   |         en        |     The Big Parade     |                                                                                                                                                                                                                                                                                                                              The story of an idle rich boy who joins the US Army's Rainbow Division and is sent to France to fight in World War I, becomes friends with two working class men, experiences the horrors of trench warfare, and finds love with a French girl.                                                                                                                                                                                                                                                                                                                               |  0.785744  | 22000000.0 |  151.0  |    Released    |                                               None                                               |     7.0      |     21     |
|    19    |       Metropolis      | 1927-01-10 00:00:00.000000 | 92620000 |   None   |         de        |       Metropolis       |                                                                                                                                                                                                                                                                                                                                    In a futuristic city sharply divided between the working class and the city planners, the son of the city's mastermind falls in love with a working class prophet who predicts the coming of a savior to mediate their differences.                                                                                                                                                                                                                                                                                                                                     | 32.351527  |  650422.0  |  153.0  |    Released    | There can be no understanding between the hands and the brain unless the heart acts as mediator. |     8.0      |    657     |
|   905    |     Pandora's Box     | 1929-01-30 00:00:00.000000 |    0     |   None   |         de        | Die Bnchse der Pandora |                                                                                                                                                                                                                                                                                                                                                                                 The rise and inevitable fall of an amoral but naive young woman whose insouciant eroticism inspires lust and violence in those around her.                                                                                                                                                                                                                                                                                                                                                                                 |  1.824184  |    0.0     |  109.0  |    Released    |                                               None                                               |     7.6      |     45     |
|  65203   |  The Broadway Melody  | 1929-02-08 00:00:00.000000 |  379000  |   None   |         en        |  The Broadway Melody   |                                                                                                                                                                                               Harriet and Queenie Mahoney, a vaudeville act, come to Broadway, where their friend Eddie Kerns needs them for his number in one of Francis Zanfield's shows. Eddie was in love with Harriet, but when he meets Queenie, he falls in love to her, but she is courted by Jock Warriner, a member of the New Yorker high society. It takes a while till Queenie recognizes, that she is for Jock nothing more than a toy, and it also takes a while till Harriet recognizes, that Eddie is in love with Queenie                                                                                                                                                                                                |  0.968865  | 4358000.0  |  100.0  |    Released    |  The pulsating drama of Broadway's bared heart speaks and sings with a voice to stir your soul!  |     5.0      |     19     |
|  22301   |     Hell's Angels     | 1930-11-15 00:00:00.000000 | 3950000  |   None   |         en        |     Hell's Angels      | Two brothers attending Oxford enlist with the Royal Flying Corps when World War I breaks out. Roy and Monte Rutledge have very different personalities. Monte is a freewheeling womanizer, even with his brother's girlfriend Helen. He also proves to have a yellow streak when it comes to his Night Patrol duties. Roy is made of strong moral fiber and attempts to keep his brother in line. Both volunteer for an extremely risky two man bombing mission for different reasons. Monte wants to lose his cowardly reputation and Roy seeks to protect his brother. Roy loves Helen; Helen enjoys an affair with Monte; before they leave on their mission over Germany they find her in still another man's arms.  Their assignment to knock out a strategic German munitions facility is a booming success, but with a squadron of fighters bearing down on them afterwards, escape seems unlikely. |  8.484123  | 8000000.0  |  127.0  |    Released    |                   Howard Hughes' Thrilling Multi-Million Dollar Air Spectacle                    |     6.1      |     19     |
|  22649   |   A Farewell to Arms  | 1932-12-08 00:00:00.000000 |    4     |   None   |         en        |   A Farewell to Arms   |                                                                                                                                                                                                                                            British nurse Catherine Barkley (Helen Hayes) and American Lieutenant Frederic Henry (Gary Cooper) fall in love during the First World War in Italy. Eventually separated by Frederic's transfer, tremendous challenges and difficult decisions face each, as the war rages on. Academy Awards winner for Best Cinematography and for Best Sound, Recording. Nominated for Best Picture and for Best Art Direction.                                                                                                                                                                                                                                             |  1.199451  |    25.0    |   89.0  |    Released    |                            Every woman who has loved will understand                             |     6.2      |     28     |
|   3062   |      42nd Street      | 1933-02-02 00:00:00.000000 |  439000  |   None   |         en        |      42nd Street       |                                                                                                                                                                                                                                                                                                                                                                                            A producer puts on what may be his last Broadway show, and at the last moment a chorus girl has to replace the star.                                                                                                                                                                                                                                                                                                                                                                                            |  1.933366  | 2281000.0  |   89.0  |    Released    |                                               None                                               |     6.1      |     37     |
|  43595   |   She Done Him Wrong  | 1933-02-09 00:00:00.000000 |  200000  |   None   |         en        |   She Done Him Wrong   |                                                                                                                                                                                                                                                                        "New York singer and nightclub owner Lady Lou has more men friends than you can imagine. Unfortunately one of them is a vicious criminal who's escaped and is on the way to see ""his"" girl, not realising she hasn't exactly been faithful in his absence. Help is at hand in the form of young Captain Cummings a local temperance league leader though."                                                                                                                                                                                                                                                                        |  0.622752  | 2200000.0  |   66.0  |    Released    |                            Mae West gives a 'Hot Time' to the nation!                            |     5.1      |     27     |
|   3078   | It Happened One Night | 1934-02-22 00:00:00.000000 |  325000  |   None   |         en        | It Happened One Night  |                                                                                                                                                                            Ellie Andrews has just tied the knot with society aviator King Westley when she is whisked away to her father's yacht and out of King's clutches. Ellie jumps ship and eventually winds up on a bus headed back to her husband. Reluctantly she must accept the help of out-of- work reporter Peter Warne. Actually, Warne doesn't give her any choice: either she sticks with him until he gets her back to her husband, or he'll blow the whistle on Ellie to her father. Either way, Peter gets what he wants... a really juicy newspaper story!                                                                                                                                                                             | 11.871424  | 4500000.0  |  105.0  |    Released    |                                  TOGETHER... for the first time                                  |     7.7      |    275     |
+----------+-----------------------+----------------------------+----------+----------+-------------------+------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+------------+---------+----------------+--------------------------------------------------------------------------------------------------+--------------+------------+
Truncated to displaylimit of 10.

In [ ]:
What code will select all the movies from the database?

In [3]:
%%sql
SELECT * 
FROM movies;

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+--------------------------------------------------------+----------------------------+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+--------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+---------+----------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+------------+
| movie_id |                         title                          |        release_date        |   budget  |                                                                                        homepage                                                                                       | original_language |                     original_title                     |                                                                                                                                                                                                               overview                                                                                                                                                                                                              | popularity |   revenue   | runtime | release_status |                                                                           tagline                                                                           | vote_average | vote_count |
+----------+--------------------------------------------------------+----------------------------+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+--------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+---------+----------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+------------+
|    5     |                       Four Rooms                       | 1995-12-09 00:00:00.000000 |  4000000  |                                                                                          None                                                                                         |         en        |                       Four Rooms                       |                                                                                            It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another.                                                                                            |  22.87623  |  4300000.0  |   98.0  |    Released    | Twelve outrageous guests. Four scandalous requests. And one lone bellhop, in his first day on the job, who's in for the wildest New year's Eve of his life. |     6.5      |    530     |
|    11    |                       Star Wars                        | 1977-05-25 00:00:00.000000 |  11000000 |                        <a href=http://www.starwars.com/films/star-wars-episode-iv-a-new-hope>http://www.starwars.com/films/star-wars-episode-iv-a-new-hope</a>                        |         en        |                       Star Wars                        |                                                       Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.                                                      | 126.393695 | 775398007.0 |  121.0  |    Released    |                                                         A long time ago in a galaxy far, far away...                                                        |     8.1      |    6624    |
|    12    |                      Finding Nemo                      | 2003-05-30 00:00:00.000000 |  94000000 |                                                <a href=http://movies.disney.com/finding-nemo>http://movies.disney.com/finding-nemo</a>                                                |         en        |                      Finding Nemo                      |                                            Nemo, an adventurous young clownfish, is unexpectedly taken from his Great Barrier Reef home to a dentist's office aquarium. It's up to his worrisome father Marlin and a friendly but forgetful fish Dory to bring Nemo home -- meeting vegetarian sharks, surfer dude turtles, hypnotic jellyfish, hungry seagulls, and more along the way.                                            | 85.688789  | 940335536.0 |  100.0  |    Released    |                                              There are 3.7 trillion fish in the ocean, they're looking for one.                                             |     7.6      |    6122    |
|    13    |                      Forrest Gump                      | 1994-07-06 00:00:00.000000 |  55000000 |                                                                                          None                                                                                         |         en        |                      Forrest Gump                      |        A man with a low IQ has accomplished great things in his life and been present during significant historic events - in each case, far exceeding what anyone imagined he could do. Yet, despite all the things he has attained, his one true love eludes him. 'Forrest Gump' is the story of a man who rose above his challenges, and who proved that determination, courage, and love are more important than ability.       | 138.133331 | 677945399.0 |  142.0  |    Released    |                                   The world will never be the same, once you've seen it through the eyes of Forrest Gump.                                   |     8.2      |    7927    |
|    14    |                    American Beauty                     | 1999-09-15 00:00:00.000000 |  15000000 |                                                        <a href=http://www.dreamworks.com/ab/>http://www.dreamworks.com/ab/</a>                                                        |         en        |                    American Beauty                     |                                                                                                                           Lester Burnham, a depressed suburban father in a mid-life crisis, decides to turn his hectic life around after developing an infatuation with his daughter's attractive friend.                                                                                                                           | 80.878605  | 356296601.0 |  122.0  |    Released    |                                                                         Look closer.                                                                        |     7.9      |    3313    |
|    16    |                   Dancer in the Dark                   | 2000-05-17 00:00:00.000000 |  12800000 |                                                                                          None                                                                                         |         en        |                   Dancer in the Dark                   | Selma, a Czech immigrant on the verge of blindness, struggles to make ends meet for herself and her son, who has inherited the same genetic disorder and will suffer the same fate without an expensive operation. When life gets too difficult, Selma learns to cope through her love of musicals, escaping life's troubles - even if just for a moment - by dreaming up little numbers to the rhythmic beats of her surroundings. | 22.022228  |  40031879.0 |  140.0  |    Released    |                                                                 You don't need eyes to see.                                                                 |     7.6      |    377     |
|    18    |                   The Fifth Element                    | 1997-05-07 00:00:00.000000 |  90000000 |                                                                                          None                                                                                         |         en        |                   The Fifth Element                    |                                                                                                                                          In 2257, a taxi driver is unintentionally given the task of saving a young girl who is part of the key that will ensure the survival of humanity.                                                                                                                                          | 109.528572 | 263920180.0 |  126.0  |    Released    |                                                                There is no future without it.                                                               |     7.3      |    3885    |
|    19    |                       Metropolis                       | 1927-01-10 00:00:00.000000 |  92620000 |                                                                                          None                                                                                         |         de        |                       Metropolis                       |                                                                                                 In a futuristic city sharply divided between the working class and the city planners, the son of the city's mastermind falls in love with a working class prophet who predicts the coming of a savior to mediate their differences.                                                                                                 | 32.351527  |   650422.0  |  153.0  |    Released    |                               There can be no understanding between the hands and the brain unless the heart acts as mediator.                              |     8.0      |    657     |
|    20    |                   My Life Without Me                   | 2003-03-07 00:00:00.000000 |     0     | <a href=http://www.clubcultura.com/clubcine/clubcineastas/isabelcoixet/mividasinmi/index.htm>http://www.clubcultura.com/clubcine/clubcineastas/isabelcoixet/mividasinmi/index.htm</a> |         en        |                   My Life Without Me                   |                                                                                                                     A Pedro Almodovar production in which a fatally ill mother with only two months to live creates a list of things she wants to do before she dies with out telling her family of her illness.                                                                                                                    |  7.958831  |  9726954.0  |  106.0  |    Released    |                                                                             None                                                                            |     7.2      |     77     |
|    22    | Pirates of the Caribbean: The Curse of the Black Pearl | 2003-07-09 00:00:00.000000 | 140000000 |             <a href=http://disney.go.com/disneyvideos/liveaction/pirates/main_site/main.html>http://disney.go.com/disneyvideos/liveaction/pirates/main_site/main.html</a>             |         en        | Pirates of the Caribbean: The Curse of the Black Pearl |                                                                Jack Sparrow, a freewheeling 17th-century pirate who roams the Caribbean Sea, butts heads with a rival pirate bent on pillaging the village of Port Royal. When the governor's daughter is kidnapped, Sparrow decides to help the girl's love save her. But their seafaring mission is hardly simple.                                                                | 271.972889 | 655011224.0 |  143.0  |    Released    |                                                            Prepare to be blown out of the water.                                                            |     7.5      |    6985    |
+----------+--------------------------------------------------------+----------------------------+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+--------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+---------+----------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+------------+
Truncated to displaylimit of 10.

In [ ]:
How many unique awards are there in the Oscars table?

In [29]:
%%sql
SELECT
COUNT(DISTINCT award)
FROM oscars;

Running query in 'sqlite:///TMDB-a-4006.db'

+-----------------------+
| COUNT(DISTINCT award) |
+-----------------------+
|          114          |
+-----------------------+

In [ ]:
How many movies are there that contain the word “Spider” within their title?

In [35]:
%%sql
SELECT
COUNT(DISTINCT title)
FROM movies
WHERE title LIKE '%spider%';

Running query in 'sqlite:///TMDB-a-4006.db'

+-----------------------+
| COUNT(DISTINCT title) |
+-----------------------+
|           9           |
+-----------------------+

In [ ]:
How many movies are there that are both in the "Thriller" genre ?

In [41]:
%%sql
SELECT *
FROM genres
WHERE genre_name LIKE '%thriller%';

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+------------+
| genre_id | genre_name |
+----------+------------+
|    53    |  Thriller  |
+----------+------------+

In [ ]:
How many movies contain the word  “love” anywhere in the keywords?

In [47]:
%%sql
SELECT 
COUNT (DISTINCT keyword_name)
FROM keywords
WHERE keyword_name LIKE'%love%';

Running query in 'sqlite:///TMDB-a-4006.db'

+-------------------------------+
| COUNT (DISTINCT keyword_name) |
+-------------------------------+
|               59              |
+-------------------------------+

In [ ]:
Display movies that are both in the "Thriller" genre and contain the word “love” anywhere in the keywords

In [8]:
%%sql
SELECT
M.movie_id,
KM.keyword_id,
GM.genre_id,
K.keyword_name,
G.genre_name
FROM Keywordmap KM
JOIN movies M
ON KM.movie_id = M.movie_id
JOIN keywords K
ON KM.keyword_id = K.keyword_id
JOIN Genremap GM
ON GM.movie_id = M.movie_id
JOIN genres G
ON G.genre_id = GM.genre_id
WHERE genre_name LIKE '%thriller%'
AND keyword_name LIKE '%love%';

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+------------+----------+--------------------+------------+
| movie_id | keyword_id | genre_id |    keyword_name    | genre_name |
+----------+------------+----------+--------------------+------------+
|   116    |    128     |    53    |   love triangle    |  Thriller  |
|  242166  |    128     |    53    |   love triangle    |  Thriller  |
|   1213   |    725     |    53    |    lovesickness    |  Thriller  |
|   9075   |    930     |    53    | in love with enemy |  Thriller  |
|   1424   |    1014    |    53    |   loss of lover    |  Thriller  |
|  11362   |    1014    |    53    |   loss of lover    |  Thriller  |
|  27205   |    1014    |    53    |   loss of lover    |  Thriller  |
|   1213   |    1605    |    53    |      new love      |  Thriller  |
|   1988   |    1605    |    53    |      new love      |  Thriller  |
|  10135   |    1605    |    53    |      new love      |  Thriller  |
+----------+------------+----------+--------------------+------------+
Truncated to displaylimit of 10.

In [ ]:
How many movies are there that are both in the "Thriller" genre and contain the word “love” anywhere in the keywords?

In [12]:
%%sql
SELECT
COUNT (DISTINCT M.movie_id),
KM.keyword_id,
GM.genre_id,
K.keyword_name,
G.genre_name
FROM Keywordmap KM
JOIN movies M
ON KM.movie_id = M.movie_id
JOIN keywords K
ON KM.keyword_id = K.keyword_id
JOIN Genremap GM
ON GM.movie_id = M.movie_id
JOIN genres G
ON G.genre_id = GM.genre_id
WHERE genre_name LIKE '%thriller%'
AND keyword_name LIKE '%love%';

Running query in 'sqlite:///TMDB-a-4006.db'

+-----------------------------+------------+----------+---------------+------------+
| COUNT (DISTINCT M.movie_id) | keyword_id | genre_id |  keyword_name | genre_name |
+-----------------------------+------------+----------+---------------+------------+
|              48             |    128     |    53    | love triangle |  Thriller  |
+-----------------------------+------------+----------+---------------+------------+

In [ ]:
Display movie_ids, their release dates, budget and popularity

In [29]:
%%sql
SELECT
movie_id,
release_date,
budget,
popularity
FROM movies;

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+----------------------------+-----------+------------+
| movie_id |        release_date        |   budget  | popularity |
+----------+----------------------------+-----------+------------+
|    5     | 1995-12-09 00:00:00.000000 |  4000000  |  22.87623  |
|    11    | 1977-05-25 00:00:00.000000 |  11000000 | 126.393695 |
|    12    | 2003-05-30 00:00:00.000000 |  94000000 | 85.688789  |
|    13    | 1994-07-06 00:00:00.000000 |  55000000 | 138.133331 |
|    14    | 1999-09-15 00:00:00.000000 |  15000000 | 80.878605  |
|    16    | 2000-05-17 00:00:00.000000 |  12800000 | 22.022228  |
|    18    | 1997-05-07 00:00:00.000000 |  90000000 | 109.528572 |
|    19    | 1927-01-10 00:00:00.000000 |  92620000 | 32.351527  |
|    20    | 2003-03-07 00:00:00.000000 |     0     |  7.958831  |
|    22    | 2003-07-09 00:00:00.000000 | 140000000 | 271.972889 |
+----------+----------------------------+-----------+------------+
Truncated to displaylimit of 10.

In [ ]:
How many movies are there that were released between 1 August 2006 ('2006-08-01') and 1 October 2009 ('2009-10-01') that have a popularity score of more than 40 and a budget of less than 50 000 000?

In [25]:
%%sql
SELECT
COUNT (distinct movie_id),
release_date,
budget,
popularity
FROM movies
WHERE release_date BETWEEN '2006-08-01' AND '2009-10-01'
AND Popularity > 40
AND budget < 50000000;

Running query in 'sqlite:///TMDB-a-4006.db'

+---------------------------+----------------------------+----------+------------+
| COUNT (distinct movie_id) |        release_date        |  budget  | popularity |
+---------------------------+----------------------------+----------+------------+
|             29            | 2006-10-19 00:00:00.000000 | 40000000 | 74.440708  |
+---------------------------+----------------------------+----------+------------+

In [ ]:
How many unique characters has "Vin Diesel" played so far in the database?

In [50]:
%%sql
SELECT
A.actor_id,
A.actor_name,
COUNT (DISTINCT C.characters)
FROM actors A
JOIN Casts C
ON A.actor_id = C.actor_id
WHERE actor_name LIKE '%vin diesel%';

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+------------+-------------------------------+
| actor_id | actor_name | COUNT (DISTINCT C.characters) |
+----------+------------+-------------------------------+
|  12835   | Vin Diesel |               16              |
+----------+------------+-------------------------------+

In [ ]:
Display all genres

In [51]:
%%sql
SELECT *
FROM Genres;

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+------------+
| genre_id | genre_name |
+----------+------------+
|    12    | Adventure  |
|    14    |  Fantasy   |
|    16    | Animation  |
|    18    |   Drama    |
|    27    |   Horror   |
|    28    |   Action   |
|    35    |   Comedy   |
|    36    |  History   |
|    37    |  Western   |
|    53    |  Thriller  |
+----------+------------+
Truncated to displaylimit of 10.

In [ ]:
What are the genres of the movie “The Royal Tenenbaums”?

In [55]:
%%sql
SELECT
M.title,
GM.movie_id,
G.genre_name
FROM movies M
JOIN Genremap GM
ON M.movie_ID = GM.movie_id
JOIN Genres G
ON GM.genre_id = G.genre_id
WHERE m.title LIKE '%The Royal Tenenbaums%';

Running query in 'sqlite:///TMDB-a-4006.db'

+----------------------+----------+------------+
|        title         | movie_id | genre_name |
+----------------------+----------+------------+
| The Royal Tenenbaums |   9428   |   Drama    |
| The Royal Tenenbaums |   9428   |   Comedy   |
+----------------------+----------+------------+

In [ ]:
Select movie_id per avg popularity score

In [59]:
%%sql
SELECT
PM.movie_id,
M.popularity,
P.production_company_name
FROM movies M
JOIN Productioncompanymap PM
ON PM.movie_id = M.movie_id
JOIN productioncompanies P
ON P.production_company_id = PM.production_company_id;

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+------------+-------------------------+
| movie_id | popularity | production_company_name |
+----------+------------+-------------------------+
|    11    | 126.393695 |        Lucasfilm        |
|    85    | 68.159596  |        Lucasfilm        |
|    87    | 66.976776  |        Lucasfilm        |
|    89    | 80.972475  |        Lucasfilm        |
|   217    | 75.674458  |        Lucasfilm        |
|   838    | 19.326115  |        Lucasfilm        |
|   1891   |  78.51783  |        Lucasfilm        |
|   1892   | 46.509071  |        Lucasfilm        |
|   1893   | 54.035265  |        Lucasfilm        |
|   1894   | 43.987061  |        Lucasfilm        |
+----------+------------+-------------------------+
Truncated to displaylimit of 10.

In [ ]:
What are the three production companies that have the highest movie popularity score on average, as recorded within the database?

In [81]:
%%sql
SELECT production_company_name, 
AVG(popularity) as average_popularity
FROM movies as m
JOIN productioncompanymap as pm
ON pm.movie_id = m.movie_id
JOIN productioncompanies as p
ON pm.production_company_id = p.production_company_id
GROUP BY  production_company_name
ORDER BY Average_popularity DESC;

Running query in 'sqlite:///TMDB-a-4006.db'

+----------------------------------+--------------------+
|     production_company_name      | average_popularity |
+----------------------------------+--------------------+
|       The Donners' Company       |     514.569956     |
|        Bulletproof Cupid         |     481.098624     |
|          Kinberg Genre           | 326.92099900000005 |
|    Illumination Entertainment    |    234.9200424     |
| Vita-Ray Dutch Productions (III) |     198.372395     |
|      Deluxe Digital Studios      |     198.372395     |
|             Syncopy              |    192.4171875     |
|      Lynda Obst Productions      |    192.22636225    |
|      Cruel & Unusual Films       |     155.790452     |
|           Linson Films           |     146.757391     |
+----------------------------------+--------------------+
Truncated to displaylimit of 10.

In [ ]:
Display all actors

In [70]:
%%sql
SELECT *
FROM actors;

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+-----------------+--------+
| actor_id |    actor_name   | gender |
+----------+-----------------+--------+
|    1     |   George Lucas  |   2    |
|    2     |   Mark Hamill   |   2    |
|    3     |  Harrison Ford  |   2    |
|    4     |  Carrie Fisher  |   1    |
|    5     |  Peter Cushing  |   2    |
|    6     | Anthony Daniels |   2    |
|    7     |  Andrew Stanton |   2    |
|    8     |   Lee Unkrich   |   2    |
|    10    |   Bob Peterson  |   2    |
|    11    |  David Reynolds |   2    |
+----------+-----------------+--------+
Truncated to displaylimit of 10.

In [ ]:
How many female actors (i.e. gender = 1) have a name that starts with the letter "N"?

In [68]:
%%sql
SELECT 
COUNT(actor_name),
Gender
FROM actors
WHERE gender = 1
AND actor_name LIKE 'N%';

Running query in 'sqlite:///TMDB-a-4006.db'

+-------------------+--------+
| COUNT(actor_name) | gender |
+-------------------+--------+
|        355        |   1    |
+-------------------+--------+

In [ ]:
Which genre has, on average, the lowest movie popularity score?

In [84]:
%%sql
SELECT
GM.movie_id,
AVG (M.popularity) AS avg_popularity,
G.genre_name
FROM movies M
JOIN Genremap GM
ON M.movie_id = GM.movie_id
JOIN genres G
ON G.genre_id = GM.genre_id
GROUP BY genre_name
ORDER BY avg_popularity ASC;

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+--------------------+-------------+
| movie_id |   avg_popularity   |  genre_name |
+----------+--------------------+-------------+
|   7509   | 0.686786794117647  |   Foreign   |
|   291    | 3.945723809090908  | Documentary |
|  10947   | 6.389414749999999  |   TV Movie  |
|    16    | 13.101512475675676 |    Music    |
|    13    | 15.962426457494416 |   Romance   |
|    79    | 17.444838720812175 |   History   |
|    13    | 17.764853371789304 |    Drama    |
|    5     | 18.221000988966285 |    Comedy   |
|    33    | 18.23627854878048  |   Western   |
|   170    | 18.295915104046244 |    Horror   |
+----------+--------------------+-------------+
Truncated to displaylimit of 10.

In [ ]:
Code to display all Oscar awards

In [92]:
%%sql
SELECT *
FROM oscars;

Running query in 'sqlite:///TMDB-a-4006.db'

+------+----------------+--------+-------------------------+---------------------------------------------------+
| year |     award      | winner |           name          |                        film                       |
+------+----------------+--------+-------------------------+---------------------------------------------------+
| 1928 |     Actor      |  None  |   Richard Barthelmess   |                     The Noose                     |
| 1928 |     Actor      |  1.0   |      Emil Jannings      |                  The Last Command                 |
| 1928 |    Actress     |  None  |      Louise Dresser     |                  A Ship Comes In                  |
| 1928 |    Actress     |  1.0   |       Janet Gaynor      |                     7th Heaven                    |
| 1928 |    Actress     |  None  |      Gloria Swanson     |                   Sadie Thompson                  |
| 1928 | Art Direction  |  None  |      Rochus Gliese      |                      Sunrise                      |
| 1928 | Art Direction  |  1.0   | William Cameron Menzies |                 The Dove; Tempest                 |
| 1928 | Art Direction  |  None  |       Harry Oliver      |                     7th Heaven                    |
| 1928 | Cinematography |  None  |      George Barnes      | The Devil Dancer; The Magic Flame; Sadie Thompson |
| 1928 | Cinematography |  1.0   |      Charles Rosher     |                      Sunrise                      |
+------+----------------+--------+-------------------------+---------------------------------------------------+
Truncated to displaylimit of 10.

In [ ]:
Which award category has the highest number of actor nominations (actors can be male or female)? (Hint: Oscars.name contains both actors' names and film names.)

In [98]:
%%sql
SELECT o.award, 
COUNT(a.actor_name) as number_of_actor_nominations
FROM oscars as o
JOIN actors a
ON o.name = a.actor_name
GROUP BY o.award
ORDER BY number_of_actor_nominations DESC;

Running query in 'sqlite:///TMDB-a-4006.db'

+-----------------------------------+-----------------------------+
|               award               | number_of_actor_nominations |
+-----------------------------------+-----------------------------+
|     Actor in a Supporting Role    |             356             |
|    Actress in a Supporting Role   |             331             |
|     Actress in a Leading Role     |             198             |
|      Actor in a Leading Role      |             197             |
|               Actor               |             184             |
|              Actress              |             145             |
|           Honorary Award          |              35             |
|  Jean Hersholt Humanitarian Award |              15             |
|           Special Award           |              14             |
| Irving G. Thalberg Memorial Award |              12             |
+-----------------------------------+-----------------------------+
Truncated to displaylimit of 10.

In [ ]:
DStv will be having a special week dedicated to the actor Alan Rickman. Which of the following queries would create a new view that shows the titles, release dates, taglines, and overviews of all movies that Alan Rickman has played in?

In [114]:
%%sql
DROP VIEW IF EXISTS Alan_Rickman_Movies;
CREATE VIEW Alan_Rickman_Movies AS 
SELECT title, release_date, tagline, overview
FROM Movies 
LEFT JOIN Casts 
ON Casts.movie_id = Movies.movie_id 
JOIN Actors 
ON Casts.actor_id = Actors.actor_id 
WHERE Actors.actor_name = 'Alan Rickman';

Running query in 'sqlite:///TMDB-a-4006.db'

++
||
++
++

In [ ]:
DStv will be having a special week dedicated to the actor Alan Rickman. Which of the following queries would create a new view that shows the titles, release dates, taglines, and overviews of all movies that Alan Rickman has played in?

In [115]:
%%sql
SELECT *
FROM Alan_Rickman_Movies;

Running query in 'sqlite:///TMDB-a-4006.db'

+-------------------------------------------+----------------------------+-----------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                   title                   |        release_date        |                 tagline                 |                                                                                                                                                                                                           overview                                                                                                                                                                                                           |
+-------------------------------------------+----------------------------+-----------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|               Love Actually               | 2003-09-07 00:00:00.000000 |      The ultimate romantic comedy.      |                                                                                                                            Follows seemingly unrelated people as their lives begin to intertwine while they fall in û and out û of love. Affections languish and develop as Christmas draws near.                                                                                                                            |
|                  Die Hard                 | 1988-07-15 00:00:00.000000 | 40 Stories. Twelve Terrorists. One Cop. |                                          NYPD cop, John McClane's plan to reconcile with his estranged wife is thrown for a serious loop when minutes after he arrives at her office, the entire building is overtaken by a group of terrorists. With little help from the LAPD, wisecracking McClane sets out to single-handedly rescue the hostages and bring the bad guys down.                                           |
|  Harry Potter and the Philosopher's Stone | 2001-11-16 00:00:00.000000 |           Let the Magic Begin.          | Harry Potter has lived under the stairs at his aunt and uncle's house his whole life. But on his 11th birthday, he learns he's a powerful wizard -- with a place waiting for him at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness his newfound powers with the help of the school's kindly headmaster, Harry uncovers the truth about his parents' deaths -- and about the villain who's to blame. |
|  Harry Potter and the Chamber of Secrets  | 2002-11-13 00:00:00.000000 |       Hogwarts is back in session.      |                                                                                                                                             Ignoring threats to his life, Harry returns to Hogwarts to investigate û aided by Ron and Hermione û a mysterious series of attacks.                                                                                                                                             |
|  Harry Potter and the Prisoner of Azkaban | 2004-05-31 00:00:00.000000 |     Something wicked this way comes.    |                                                                                            Harry, Ron and Hermione return to Hogwarts for another magic-filled year. Harry comes face to face with danger yet again, this time in the form of escaped convict, Sirius Black û and turns to sympathetic Professor Lupin for help.                                                                                             |
|    Harry Potter and the Goblet of Fire    | 2005-11-05 00:00:00.000000 |   Dark And Difficult Times Lie Ahead.   |                                                                            Harry starts his fourth year at Hogwarts, competes in the treacherous Triwizard Tournament and faces the evil Lord Voldemort. Ron and Hermione help Harry manage the pressure û but Voldemort lurks, awaiting his chance to destroy Harry and all that he stands for.                                                                             |
| Harry Potter and the Order of the Phoenix | 2007-06-28 00:00:00.000000 |         Evil Must Be Confronted.        |                                                Returning for his fifth year of study at Hogwarts, Harry is stunned to find that his warnings about the return of Lord Voldemort have been ignored. Left with no choice, Harry takes matters into his own hands, training a small group of students û dubbed 'Dumbledore's Army' û to defend themselves against the dark arts.                                                |
|   Harry Potter and the Half-Blood Prince  | 2009-07-07 00:00:00.000000 |          Dark Secrets Revealed          |                                                                                                                        As Harry begins his sixth year at Hogwarts, he discovers an old book marked as 'Property of the Half-Blood Prince', and begins to learn more about Lord Voldemort's dark past.                                                                                                                        |
|                Galaxy Quest               | 1999-12-23 00:00:00.000000 |    A comedy of Galactic Proportions.    |                          The stars of a 1970s sci-fi show - now scraping a living through re-runs and sci-fi conventions - are beamed aboard an alien spacecraft. Believing the cast's heroic on-screen dramas are historical documents of real-life adventures, the band of aliens turn to the ailing celebrities for help in their quest to overcome the oppressive regime in their solar system.                          |
|      Perfume: The Story of a Murderer     | 2006-09-13 00:00:00.000000 |     Based on the best-selling novel     |                                                                           Jean-Baptiste Grenouille, born in the stench of 18th century Paris, develops a superior olfactory sense, which he uses to create the world's finest perfumes. However, his work takes a dark turn as he tries to preserve scents in the search for the ultimate perfume.                                                                           |
+-------------------------------------------+----------------------------+-----------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
Truncated to displaylimit of 10.